<a href="https://colab.research.google.com/github/Dipanjan2088/Fake-News-Prediction/blob/main/Fake_News.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [100]:
import pandas as pd
import numpy as np
import seaborn as sb
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score,classification_report
import re
import string

In [101]:
df_fake=pd.read_csv("/content/Fakenews.csv")
df_true=pd.read_csv("/content/Truenews.csv")

In [102]:
df_fake['class']=0
df_true['class']=1

In [103]:
df_fake.shape,df_true.shape

((23481, 5), (21417, 5))

In [104]:
df_fake_manual_testing=df_fake.tail(10)
for i in range (23480,23470,-1):
  df_fake.drop([i],axis=0,inplace=True)

df_true_manual_testing=df_true.tail(10)
for i in range (21416,21406,-1):
  df_true.drop([i],axis=0,inplace=True)

In [105]:
df_fake.shape,df_true.shape

((23471, 5), (21407, 5))

In [106]:
df_fake_manual_testing['class']=0
df_true_manual_testing['class']=1

<ipython-input-106-45f17b1930a7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fake_manual_testing['class']=0
<ipython-input-106-45f17b1930a7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_true_manual_testing['class']=1

In [107]:
df_fake_manual_testing.head(10)

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [108]:
df_true_manual_testing.head(10)

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1
21412,Fully committed' NATO backs new U.S. approach ...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [109]:
data_merge=pd.concat([df_fake,df_true],axis=0)
data_merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’s...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian C...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke ...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name ...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Duri...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While ...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Much...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [110]:
data_merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [111]:
data=data_merge.drop(['title','subject','date'],axis=1)

In [112]:
data.isnull().sum()

text     633
class      0
dtype: int64

In [113]:
data=data.sample(frac=1)

In [114]:
data.head()

                                                    text  class
2892   CHICAGO (Reuters) - Illinois ended its histori...      1
18689  Johnny Carson must be rolling over in his grav...      0
739    Over the last few days, President Trump has ma...      0
4958   WASHINGTON (Reuters) - U.S. President Donald T...      1
14239  This is a pretty ironic statement for someone ...      0

In [115]:
data.reset_index(inplace=True)
data.drop(['index'],axis=1,inplace=True)

In [116]:
data.columns

Index(['text', 'class'], dtype='object')

In [117]:
data.head()

                                                text  class
0  CHICAGO (Reuters) - Illinois ended its histori...      1
1  Johnny Carson must be rolling over in his grav...      0
2  Over the last few days, President Trump has ma...      0
3  WASHINGTON (Reuters) - U.S. President Donald T...      1
4  This is a pretty ironic statement for someone ...      0

In [118]:
def word(text):
  text=text.lower()
  text=re.sub('\[.*?\]','',text)
  text=re.sub("\\W"," ",text)
  text=re.sub('https?://\S+|www\.\S+','',text)
  text=re.sub('<.*?>+','',text)
  text=re.sub('[%s]' % re.escape(string.punctuation),'',text)
  text=re.sub('\n','',text)
  text=re.sub('\w*\d\w*','',text)
  return text

In [121]:
data.text=data.text.astype(str)
data['text']=data['text'].apply(word)

In [123]:
x=data['text']
y=data['class']

In [125]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [126]:
from numpy.lib.function_base import vectorize
from sklearn.feature_extraction.text import TfidfVectorizer
vectorization=TfidfVectorizer()
xv_train=vectorization.fit_transform(x_train)
xv_test=vectorization.transform(x_test)

In [127]:
from sklearn.linear_model import LogisticRegression
LR=LogisticRegression()
LR.fit(xv_train,y_train)

LogisticRegression()

In [128]:
pred_lr=LR.predict(xv_test)

In [130]:
LR.score(xv_test,y_test)

0.9862745098039216

In [131]:
print(classification_report(y_test,pred_lr))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5867
           1       0.99      0.99      0.99      5353

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [132]:
from sklearn.tree import DecisionTreeClassifier
DT=DecisionTreeClassifier()
DT.fit(xv_train,y_train)

DecisionTreeClassifier()

In [133]:
pred_dt=DT.predict(xv_test)

In [134]:
DT.score(xv_test,y_test)

0.9951871657754011

In [136]:
print(classification_report(y_test,pred_dt))

              precision    recall  f1-score   support

           0       0.99      1.00      1.00      5867
           1       1.00      0.99      0.99      5353

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

In [137]:
from sklearn.ensemble import GradientBoostingClassifier
GB=GradientBoostingClassifier(random_state=0)
GB.fit(xv_train,y_train)

GradientBoostingClassifier(random_state=0)

In [138]:
pred_gb=GB.predict(xv_test)

In [139]:
GB.score(xv_test,y_test)

0.9949197860962566

In [140]:
print(classification_report(y_test,pred_gb))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      5867
           1       0.99      1.00      0.99      5353

    accuracy                           0.99     11220
   macro avg       0.99      1.00      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [141]:
from sklearn.ensemble import RandomForestClassifier
RF=RandomForestClassifier()
RF.fit(xv_train,y_train)

RandomForestClassifier()

In [142]:
pred_rf=RF.predict(xv_test)

In [143]:
RF.score(xv_test,y_test)

0.99126559714795

In [144]:
print(classification_report(y_test,pred_rf))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5867
           1       0.99      0.99      0.99      5353

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [160]:
def output(n):
  if n==0:
    return "Fake News"
  elif n==1:
    return "Not A Fake News"
def manual_testing(news):
  testing_news={'text':[news]}
  new_df_test=pd.DataFrame(testing_news)
  new_df_test['text']=new_df_test['text'].apply(word)
  new_x_test=new_df_test['text']
  new_xv_test=vectorization.transform(new_x_test)
  pred_LR=LR.predict(new_xv_test)
  pred_DT=DT.predict(new_xv_test)
  pred_GB=GB.predict(new_xv_test)
  pred_RF=RF.predict(new_xv_test)

  return print("\n\nLR Prediction : {} \nDT Prediction : {} \nGB Prediction : {} \nRF Prediction : {}".format(output(pred_LR[0]),output(pred_DT[0]),output(pred_GB[0]),output(pred_RF[0])))

In [163]:
news=str(input())
manual_testing(news)

WASHINGTON, Nov 28 (Reuters) - The Pentagon is considering a Boeing proposal to supply Ukraine with cheap, small precision bombs fitted onto abundantly available rockets, allowing Kyiv to strike far behind Russian lines as the West struggles to meet demand for more arms.  U.S. and allied military inventories are shrinking, and Ukraine faces an increasing need for more sophisticated weapons as the war drags on. Boeing's proposed system, dubbed Ground-Launched Small Diameter Bomb (GLSDB), is one of about a half-dozen plans for getting new munitions into production for Ukraine and America's Eastern European allies, industry sources said.


LR Prediction : Not A Fake News
DT Prediction : Not A Fake News
GB Prediction : Not A Fake News
RF Prediction : Not A Fake News

In [164]:
news=str(input())
manual_testing(news)

The Kapil Sharma Show has also been one of the most talked show and has been doing well on the TRP charts. It was in September last year when the new season of The Kapil Sharma Show began. Comedian Sidharth Sagar, known for Comedy Circus and tickling our funny bones with his humerous performances. Earlier, it was reported that the comedian has decided to exit The Kapil Sharma Show. Sidharth Sagar on quiting TKSS If reports are to be belived, the source from Etimes shared, "The reason behind his decision is said to be monetary issues with the producers of the show. Sidharth wanted a hike in his fees, but the makers are not willing to raise his remuneration and hence he has decided to leave the show. Sidharth, who had shifted to Mumbai for The Kapil Sharma Show shoot, has gone back to home in Delhi. The chances of him returning to the show are very dim."


LR Prediction : Fake News
DT Prediction : Fake News
GB Prediction : Fake News
RF Prediction : Fake News

In [165]:
news=str(input())
manual_testing(news)

news=str(input()) manual_testing(news)


LR Prediction : Fake News
DT Prediction : Fake News
GB Prediction : Fake News
RF Prediction : Fake News

In [166]:
news=str(input())
manual_testing(news)

WASHINGTON, Nov 28 (Reuters) - The Pentagon is considering a Boeing proposal to supply Ukraine with cheap, small precision bombs fitted onto abundantly available rockets, allowing Kyiv to strike far behind Russian lines as the West struggles to meet demand for more arms.  U.S. and allied military inventories are shrinking, and Ukraine faces an increasing need for more sophisticated weapons as the war drags on. Boeing's proposed system, dubbed Ground-Launched Small Diameter Bomb (GLSDB), is one of about a half-dozen plans for getting new munitions into production for Ukraine and America's Eastern European allies, industry sources said


LR Prediction : Not A Fake News
DT Prediction : Not A Fake News
GB Prediction : Not A Fake News
RF Prediction : Not A Fake News

In [167]:
news=str(input())
manual_testing(news)

The Kapil Sharma Show has also been one of the most talked show and has been doing well on the TRP charts. It was in September last year when the new season of The Kapil Sharma Show began. Comedian Sidharth Sagar, known for Comedy Circus and tickling our funny bones with his humerous performances. Earlier, it was reported that the comedian has decided to exit The Kapil Sharma Show. Sidharth Sagar on quiting TKSS If reports are to be belived, the source from Etimes shared, "The reason behind his decision is said to be monetary issues with the producers of the show. Sidharth wanted a hike in his fees, but the makers are not willing to raise his remuneration and hence he has decided to leave the show. Sidharth, who had shifted to Mumbai for The Kapil Sharma Show shoot, has gone back to home in Delhi. The chances of him returning to the show are very dim."


LR Prediction : Fake News
DT Prediction : Fake News
GB Prediction : Fake News
RF Prediction : Fake News